<h4>Create an appointment</h4>
<div>
<form novalidate class="simple-form" name="appointmentForm" 
	ng-submit="appointmentForm.$valid && addAppointment()">
	<table>
		<tbody>
			<tr>
				<td>Room</td>
				<td>
					<select ng-model="appointment.room" required>
						<option ng-repeat="room in rooms" value="{{ room }}">{{ room }}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Person</td>
				<td><input type="text" ng-model="appointment.person" required/></td>
			</tr>
			<tr>
				<td>Date</td>
				<td>
					<!-- <input type="text" ng-model="appointment.date" required/> -->
					<div id="datetimepicker1" ng-init="initPicker()">
					    <input data-format="dd/MM/yyyy hh:mm:ss" ng-model="appointment.date" required type="text" />
					    <span class="add-on">
					      
					      <span data-time-icon="icon-time" data-date-icon="icon-calendar" 
					      class="glyphicon glyphicon-calendar"></span>
					    </span>
					</div>
				</td>
			</tr>
			<tr>
				<td>Duration</td>
				<td>
					<select type="radio" ng-model="appointment.duration" required>
				    	<option value="30">Half an hour</option>
						<option value="60">One hour</option>
					</select>
				</td>
			</tr>
    	</tbody>
    </table>
    <div ng-show="appointmentForm.$invalid">Please Fill Alll Fields</div>
    <input type="submit" ng-hide="appointmentForm.$invalid" value="Submit Appointment" />
  </form>
</div>
